// ************* MIXINS *************
@mixin orange-btn-styles {
  height: 5.6rem;
  border-radius: 1rem;
  background: $color-pumpkin-orange;
  border: none;
  color: $color-white;
  font-size: 1.6rem;
  font-weight: $font-weight-bold;
  font-family: inherit;
  transition: background 0.3s;
}

@mixin orange-btn-active-styles {
  background: $color-apricot;
  transform: translateY(0.2rem);
}

@mixin small-btn-styles {
  border: none;
  background: inherit;
}

@mixin thumbnails-styles {
  display: flex;
  gap: 3.1rem;
}

@mixin thumbnail-container-styles {
  border-radius: 1rem;
  overflow: hidden;
  max-width: 8.8rem;
  max-height: 8.8rem;
  position: relative;
}

@mixin thumbnail-overlay-styles {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: $color-thumbnail-overlay;
}
