// ********** STYLE GUIDE ***********

// ************* COLORS *************
$color-white: #fff;
$color-pumpkin-orange: #ff7e1b;
$color-dark-jungle-green: #1d2026;
$color-mist-blue: #69707d;
$color-linen: #ffeee2;
$color-french-grey: #b6bcc8;
$color-white-lilac: #f6f8fd;
$color-lavender-mist: #e4e9f2;
$color-apricot: #ffab6a;
$color-black-75: rgb(0, 0, 0, 0.75);

// ********** FONT-FAMILY ***********
$font-primary: "Kumbh Sans", sans-serif;

// ********** FONT-WEIGHT ***********
$font-weight-bold: 700;
