// ********** STYLE GUIDE ***********

// ************* COLORS *************
$color-white: #fff;
$color-pumpkin-orange: #ff7e1b;
$color-dark-jungle-green: #1d2026;
$color-mist-blue: #69707d;
$color-linen: #ffeee2;
$color-french-grey: #b6bcc8;
$color-white-lilac: #f6f8fd;
$color-lavender-mist: #e4e9f2;
$color-apricot: #ffab6a;
$color-black-75: rgb(0, 0, 0, 0.75);

// ********** FONT-FAMILY ***********
$font-primary: "Kumbh Sans", sans-serif;

// ********** FONT-WEIGHT ***********
$font-weight-bold: 700;

// ************** BASE **************
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: $color-white;
  font-family: $font-primary;
}

img,
svg {
  display: block;
}

// ********* MOBILE LAYOUTS *********

// ************* HEADER *************
.header {
  padding: 1.9rem 2.4rem 2.5rem;
  display: flex;
  justify-content: space-between;

  &__menu-logo {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  &__menu {
    transform: translateY(0.051rem);
  }

  &__logo {
    transform: translateY(-0.09rem);
  }

  &__cart-avatar {
    display: flex;
    align-items: center;
    gap: 2.2rem;
  }

  &__avatar {
    width: 2.4rem;
    height: 2.4rem;
  }
}

// ********* GALLERY-PRODUCT ********

// ************* GALLERY ************
.gallery {
  position: relative;

  &__img-container {
    max-width: 100%;
  }

  &__current-img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
  }

  &-btn {
    width: 4rem;
    height: 4rem;
    border: none;
    border-radius: 50%;
    position: absolute;
  }

  &__previous-btn {
    top: 50%;
    left: 1.6rem;
    transform: translateY(-50%);
  }

  &__next-btn {
    right: 1.6rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

// ************* PRODUCT ************
.product {
  padding: 2.4rem 2.4rem 8.8rem;

  &__company {
    display: block;
    color: $color-pumpkin-orange;
    font-size: 1.2rem;
    font-weight: $font-weight-bold;
    letter-spacing: 0.1846rem;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
  }

  &__name {
    display: block;
    color: $color-dark-jungle-green;
    font-size: 2.8rem;
    font-weight: $font-weight-bold;
    line-height: 3.2rem;
    margin-bottom: 1.5rem;
  }

  &__description {
    color: $color-mist-blue;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 2.8rem;
  }

  &__current-price {
    color: $color-dark-jungle-green;
    font-size: 2.8rem;
    font-weight: $font-weight-bold;
    margin-right: 1.6rem;
  }

  &__percent-off {
    display: inline-block;
    color: $color-pumpkin-orange;
    font-size: 1.6rem;
    font-weight: $font-weight-bold;
    background: $color-linen;
    padding: 0.7rem 0.8rem;
    border-radius: 0.6rem;
  }
}

// *** CLASS USED WITH JAVASCRIPT ***
.hidden {
  display: none;
}
