// ** CLASSES USED WITH JAVASCRIPT **
.hidden {
  display: none;
}

.sidebar--open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.shake {
  animation: shake 0.5s;
  animation-timing-function: ease-in-out;
}

.pulse {
  animation: pulse 2s ease infinite;
}

.container-clicked {
  border: 0.2rem solid $color-pumpkin-orange;
}

.lightbox--open {
  opacity: 1;
  visibility: visible;
}

.transition {
  transition: transform 0.5s ease-in-out;
}
