// ****** DESKTOP HOVER STATES ******

// ******* 992px MEDIA QUERY *******
@media only screen and (min-width: 62em) {
  // ************ HEADER ***********
  .header {
    &__link:hover {
      color: $color-dark-jungle-green;
      border-bottom: 0.4rem solid $color-pumpkin-orange;
      padding-bottom: 5rem;
    }

    &__cart-btn:hover {
      cursor: pointer;
    }

    &__avatar:hover {
      cursor: pointer;
      border: 0.2rem solid $color-pumpkin-orange;
    }
  }

  // *********** GALLERY ***********
  .gallery {
    &__image:hover,
    &__thumbnail-container:hover {
      cursor: pointer;
    }
  }

  // *********** QUANTITY ***********
  .quantity {
    &-btn:hover {
      cursor: pointer;
    }

    &-btn:hover svg path {
      fill: $color-apricot;
    }
  }

  // ********* ADD-CART-BTN *********
  .add-cart-btn:hover {
    cursor: pointer;
    background: $color-apricot;
  }

  // ************* CART *************
  .cart {
    &__delete-btn:hover {
      cursor: pointer;
    }

    &__delete-btn:hover svg path {
      fill: $color-mist-blue;
    }

    &__checkout-btn:hover {
      cursor: pointer;
      background: $color-apricot;
    }
  }

  // *********** LIGHTBOX ***********
  .lightbox {
    &__close-btn:hover {
      cursor: pointer;
    }

    &__close-btn:hover svg path {
      fill: $color-pumpkin-orange;
    }

    &__nav-btn:hover {
      cursor: pointer;
    }

    &__nav-btn:hover svg path {
      stroke: $color-pumpkin-orange;
    }

    &__thumbnail-container:hover {
      cursor: pointer;
    }
  }
}
